* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik'
}

html,body {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background: black;
    color: white;
    width: 100%
}

html, body {height: 100%}

/* pane */
.appPane {
    margin: 1vh;
    width: 33.3333333%;
    height: 97vh;
    background-color: white;
    display: inline-block;
    color: black
}


/* fonts from circuitry */
.serif {
    font-family: 'Libre Baskerville' !important;
}

.bold {
    font-weight: 700;
}

.mono {
    font-family: 'Overpass Mono' !important;
}

code {
    font-family: 'Overpass Mono';
}

/* http://type-scale.com/?size=19&scale=1.414&text=Introducing%20the%20Airspace%20design%20language&webfont=Rubik&font-family=%27Rubik%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit */
html {font-size: 1.188em}

body {
    font-family: 'Rubik';
    font-weight: 400;
    line-height: 1.45;
}

h1 {
    margin-left: 0;
    font-weight: 400;
    line-height: 1.2;
    font-size: 3.998em;
}

h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: bold;
  line-height: 1.2;
  display: block
}

h1 {
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em; }

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

.displaycase h2, h3, h4{
    margin: 0 !important;
}