* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik'
}

html,body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 100%;
    height: 100%;
}

.rainbow-sidebar {
    background: linear-gradient(90deg, #AE1717, #A60000, #ED8A00, #F1A945, #458645, #005900, #197278, #57989C, #845576, #561643);
    background-size: 1800% 1800%;
    animation: rainbow 18s infinite;
    animation-timing-function: cubic-bezier(.81,.26,.7,.7);
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}